<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerb5blog.purge_contact_addresses</id>
	<name>[cerb5blog] Purge Contact Addresses</name>
	<description>Purge contact addresses that are no longer connected to any tickets</description>
	<author>Robert Middleswarth</author>
	<revision>3</revision>
	<link>http://www.cerb5blog.com</link>
	<image>plugin.png</image>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.0.0-beta" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="4.2.3" revision="6" file="patches/4.2.3.php" />
	</patches>

	
<extensions>
    <!-- Event Listeners -->
    <extension point="devblocks.listener.event">
      <id>cerb5blog.purge_contact_addresses.listener.core</id>
      <name>[cerb5blog] Purge Contact Addresses</name>
      <class>
        <file>api/App.php</file>
        <name>Cerb5BlogPurgeContactAddressesEventListener</name>
      </class>
      <params>
        <!-- Event Listener -->
        <param key="events">
          <value>
            <data key="cron.maint" />
          </value>
        </param>
      </params>
    </extension>

  </extensions>
</plugin>